.card
    .card-body
        h2(class="card-title")
            a(href=post.url)
                = post.title
        p(class="card-subtitle")
            span.date.h4 #{post.date.getFullYear()}-#{post.date.getMonth()+1}-#{post.date.getDate()}
        p(class="card-text")
            != post.preview
        
        if post.tags 
            div.tags
                each tag in post.tags
                    a(href=tagUrl(tag) style="margin-right: 5px" class="badge bg-secondary")
                        span.label.label-info #{tag}
